@import url("https://use.typekit.net/bsb4ixg.css");
@import "tailwindcss";

:root {
  --cream: #e7e2c8;
  --background: #283316;
  --button: #3e4a2b;
  --lightGreen: #adb680;
}

@theme inline {
  --color-background: var(--background);
  --color-cream: var(--cream);
  --color-button: var(--button);
  --color-lightGreen: var(--lightGreen);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "montserrat", sans-serif;
  overflow-y: scroll;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

@layer utilities {
  .font-larken {
    font-family: larken, sans-serif;
    font-weight: 400;
    font-style: normal;
  }
}
